<!DOCTYPE html>
<html>
<head>

    <title>Realtime communication with WebRTC</title>
    <meta charset="UTF-8">
    <!--<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />-->
    <link rel="stylesheet" href="/css/main.css" />

</head>

<body>

<h1>Realtime communication with WebRTC</h1>
<h1>화상채팅방입니다.</h1>
<h3>이름</h3>
<div id="videos">
    <video id="localVideo" autoplay muted playsinline></video>
    <video id="remoteVideo" autoplay playsinline></video>
    <video id="remoteVideo2" autoplay playsinline></video>
    <!--    <video id="remoteVideo2" autoplay playsinline></video>-->
</div>

<div>내용 : </div>
<!-- This file is automatically added/served when running "node index.js". -->
<script src="/socket.io/socket.io.js"></script>
<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
<script src="js/main.js"></script>

</body>

</html>
